<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ASK</title>
</head>
<body>
    <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>

    <form action="/addquestion" method="POST">
        <textarea name="questionContent" id="question" cols="150" rows="10" maxlength="200"></textarea>
        <p>Còn 200/200 kí tự</p>
        <button type="submit">Gửi</button>
    </form>

</body>
</html>