body{
    margin: 100px;
    padding: 100px;
}
nav.menu{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

nav.menu span {
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
nav.menu span:hover{
    color: red;
    background-color: #9CD08F;
    cursor: pointer;
}
.sub-menu{
    display: none;
    position:absolute;
}
nav.sub-menu span{
    display: block;
}
nav.menu span:hover>.sub-menu{
    display: block;
}
.sub-menu.sub-menu span{
    display: block;
    position: relative;
}
.sub-menu .sub-menu{
    left: 100px;
    top: 0;
}